body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b0457;
}

header {
    background-color: #06770a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 40px;
    margin: 20px;
    background-color: #cbbeff;
    border-radius: 5px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #06770a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #06770a;
    color: #fff;
    padding: 10px;
    text-align: center;
}